<template ngbModalContainer></template>
<template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('close')">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Successful!</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-success" role="alert">
            <strong> {{successMsg}}!</strong>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c('ok')">OK</button>
    </div>
</template>

<div class="container">
    <div  [hidden]="submitted">
        <h1>Post-Item Form</h1>
        <p style="text-align: right">
        <button type="button" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true" (click)="goBack()">
            <i class="fa fa-arrow-left"></i> Back</button>
        </p>

        <form *ngIf="active" (ngSubmit)="onSubmit(content)" #itemForm="ngForm">

            <fieldset>
                <legend>Item Detail:</legend>

            <div class="form-group">
                <label for="title">Title</label><br>
                <input type="text" class="form-control" id="title" placeholder="item title"
                       required
                       [(ngModel)]="model.title" name="title"
                       #title="ngModel" >
                <div [hidden]="title.valid || title.pristine"
                     class="alert alert-danger">
                    Title is required
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description</label><br>

                <textarea class="form-control" id="description"
                       [(ngModel)]="model.description" name="description" >
                </textarea>
            </div>

            <div class="form-group">
                <label for="price">Price</label><br>
                <input type="text" class="form-control" id="price"
                       required
                       [(ngModel)]="model.price" name="price"
                       #price="ngModel" >
                <div [hidden]="price.valid || price.pristine"
                     class="alert alert-danger">
                    Price is required
                </div>
            </div>
            </fieldset>
            <fieldset>
                <legend>Contact Info:</legend>

            <div class="form-group">
                <label for="title">Owner Full Name</label><br>
                <input type="text" class="form-control" id="fullname"
                       [(ngModel)]="model.fullname" name="fullname"
                       #fullname="ngModel" >
                <div [hidden]="fullname.valid || fullname.pristine"
                     class="alert alert-danger">
                    Full Name is required
                </div>
            </div>
            <div class="form-group">
                <label for="description">Address Street</label><br>
                <textarea class="form-control" id="address"
                          [(ngModel)]="model.address" name="address" >
                </textarea>
            </div>

            <div class="form-group">
            <label for="phonenumber">Phone Number</label><br>
            <input type="text" class="form-control" id="phonenumber"
                   required
                   [(ngModel)]="model.phonenumber" name="phonenumber"
                   #phonenumber="ngModel" >
            <div [hidden]="phonenumber.valid || phonenumber.pristine"
                 class="alert alert-danger">
                Phone number is required
            </div>
        </div>

            <div class="form-group">
                <label for="email">Email</label><br>
                <input type="text" class="form-control" id="email"
                       required
                       [(ngModel)]="model.email" name="email"
                       #email="ngModel" >
                <div [hidden]="email.valid || email.pristine"
                     class="alert alert-danger">
                    Email is required
                </div>
            </div>
            </fieldset>
            <button type="submit" class="btn btn-default" [disabled]="!itemForm.form.valid">{{submitbtn}}</button>
            <button type="button" class="btn btn-default" (click)="newItem()">Clear</button>
        </form>
    </div>

</div>